<%= div_for idea do %>
  <h5>Author: <%= idea.author.capitalize %></h5>
  <h5>Title: <%= idea.title.capitalize %></h5>
  <h6><%= idea.content %></h6>
  <sup class="text-muted">created on <%= idea.idea_time.capitalize %></sup><br />
  <%= link_to idea, remote: true, method: :delete,  data: { confirm: 'Are you sure?' } do %>
  <div> <i class="fa fa-trash"></i> </div>
  <% end %>
<% end %>
